@import "../base";

/* @Q1 */
.Q1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;
  -webkit-touch-callout: none;
}

.Q1-option {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  min-height: var(--Form-space-md);
  padding: var(--Form-padding);
  position: relative;
}

.Q1-toggle {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  outline: none;
}

.Q1-toggle:checked {
  background: rgb(var(--color-red));
}

.Q1-label {
  line-height: normal;
}

.Q1-toggle:checked + .Q1-label {
  color: #fff;
}

.Q1-toggle + .Q1-label::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: currentColor;
}

.Q1-text {
  width: 100%;
  flex: 1 1 auto;
  padding: 0 0.5rem;
  border: 0;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  color: currentColor;
  -webkit-appearance: none;
}

.Q1-text::placeholder {
  color: currentColor;
}
