@import "../base";

/* @Q2 */
.Q2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  user-select: none;
  -webkit-touch-callout: none;
}

.Q2-option {
  display: flex;
  position: relative;
  padding-top: 2rem;
  height: 100%;
}

@media (min-width: 1000px) {
  .Q2-option {
    max-height: 65%;
    border: solid;
    border-width: 1px 0;
  }
}

.Q2-text {
  width: 100%;
  flex: 1 1 auto;
  padding: var(--Form-padding);
  border: 0;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  color: currentColor;
  resize: none;
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
}

.Q2-text:focus {
  outline: 0;
}

.Q2-text::placeholder {
  color: currentColor;
}

.Q2-limit {
  position: absolute;
  right: var(--Form-padding);
  top: var(--Form-padding);
  font-size: var(--Form-font-size-small);
}
