@import "../base";

/* @define Opportunities */
.Opportunities {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0.25rem 0;
  user-select: none;
  -webkit-touch-callout: none;
}

@media (min-width: 1000px) {
  .Opportunities {
    flex-direction: column;
    padding: 0;
  }
}

.Opportunities-option {
  flex: 1 0 calc(100% * 1 / 3);
  display: flex;
  flex-direction: column;
  padding: 0 0.25rem;
  position: relative;
}

@media (min-width: 1000px) {
  .Opportunities-option {
    flex: 1 1 auto;
    min-height: var(--Form-space-md);
    padding: 0;
  }
}

.Opportunities-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.Opportunities-toggle {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  outline: none;
}

.Opportunities-toggle:checked + .Opportunities-label .Opportunities-indicator {
  background: rgb(var(--color-red));
}

.Opportunities-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: var(--Form-padding);
  border: 1px solid rgb(var(--color-red));
  position: relative;
  line-height: normal;
  text-align: center;
  font-size: 1.3rem;
}

@media (min-width: 1000px) {
  .Opportunities-label {
    flex: 1 0 auto;
    flex-direction: row;
    padding: var(--Form-space-md);
    border-width: 1px 0 0;
    font-size: 2.625rem;
    text-align: left;
  }

  .Opportunities-option:first-child .Opportunities-label {
    border-top: 0;
  }
}

.Opportunities-toggle:checked ~ .Opportunities-label {
  color: #fff;
}

.Opportunities-symbol {
  display: block;
  width: 70px;
  max-width: 15vw;
  margin: 0 0 1rem;
}

@media (min-width: 1000px) {
  .Opportunities-symbol {
    margin: 0 2rem 0 0;
  }
}

.Opportunities-title {
  display: block;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.Opportunities-description {
  display: block;
  font-size: 0.875rem;
}
