@import "../../components/base/";

/* @define Info */
.Info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 1.5rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 1000px) {
  .Info {
    flex-wrap: nowrap;
  }
}

.Info-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

@media (min-width: 1000px) {
  .Info-main {
    height: 100vh;
  }
}

.Info-main p {
  margin: 0.5em 0;
}

.Info-content {
  padding: 8rem var(--Form-padding) 5rem;
  max-width: 60rem;
}

@media (min-width: 600px) {
  .Info-content {
    padding: var(--Form-space-md) 12rem 3rem 3rem;
  }
}

@media (min-width: 1000px) {
  .Info-main {
    flex: 1 1 auto;
    justify-content: center;
  }
}

.Info-menu {
  position: fixed;
  top: 0.5vh;
  right: -1.5em;
  font-size: 1.25rem;
  text-transform: uppercase;
  word-spacing: 0.2em;
  color: rgb(var(--color-red));
  background-image: url("./cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
}

.Info-spinner {
  transform-origin: center;
  animation: Info-menu--spinning 15s infinite linear;
}

@media (min-width: 1000px) {
  .Info-menu {
    top: 1.5vw;
    right: 37%;
  }
}

.Info-menu .Info-dot {
  transform-origin: center;
  transition: transform 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  will-change: transform;
}

.Info-menu:hover .Info-dot {
  transform: scale(8);
}

@keyframes Info-menu--spinning {
  to {
    transform: rotate(1turn);
  }
}

.Info-footer {
  margin: auto var(--Form-padding) var(--Form-space-sm) var(--Form-padding);
  max-width: 45rem;
}

@media (min-width: 600px) {
  .Info-footer {
    margin: auto 10rem 3rem 3rem;
    padding: var(--Form-padding);
    border: 1px solid rgb(var(--color-red));
  }
}

.Info-sidebar {
  display: flex;
  align-items: flex-end;
  color: #fff;
  background-color: rgb(var(--color-red));
  width: 100%;
}

@media (min-width: 1000px) {
  .Info-sidebar {
    flex: 0 0 35%;
    height: 100%;
    position: relative;
    z-index: 10;
  }
}

.Info-instructions {
  padding: var(--Form-padding);
  margin-bottom: var(--Form-space-sm);
}

.Info-step {
  font-size: 1.45rem;
  margin: 0.5rem 0;
  position: relative;
  padding-left: 1.2rem;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .Info-step {
    font-size: 1.75rem;
  }
}

.Info-step::before {
  display: inline-block;
  position: absolute;
  left: 0.4rem;
  top: 0.25rem;
  font-size: 0.8rem;
}

.Info-step:nth-child(1)::before {
  content: "1";
}

.Info-step:nth-child(2)::before {
  content: "2";
}

.Info-step:nth-child(3)::before {
  content: "3";
}

.Info-step a {
  text-decoration: underline;
}
