@import "../../components/base/";

/* @define Info */
.Info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  font-size: var(--Form-font-size-text);
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 1000px) {
  .Info {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
}

.Info-main {
  width: 100%;
  position: relative;
}

@media (min-width: 1000px) {
  .Info-main {
    height: 100vh;
    overflow: auto;
  }
}

.Info-main p {
  margin: 0.5em 0;
}

.Info-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5rem var(--Form-padding) 5rem;
  max-width: 60rem;
}

@media (min-width: 600px) {
  .Info-content {
    padding: 5rem var(--Form-space-md) var(--Form-space-md);
  }
}

@media (min-width: 1000px) {
  .Info-main {
    flex: 1 1 auto;
    justify-content: center;
  }
}

.Info-menu {
  border: var(--Form-border-width) solid rgb(var(--color-red));
  padding: 0.3em 0.5em 0.2em;
  position: absolute;
  top: 2vw;
  right: 2vw;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: rgb(var(--color-red));
  user-select: none;
  overflow: hidden;
}

.Info-menu::after {
  content: "Mindre info";
  width: 100%;
  height: 100%;
  padding: 0.3em 0.5em 0.2em;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(var(--color-red));
  color: #fff;
  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}

.Info-menu:hover::after {
  transform: translateY(0%);
}

@media (min-width: 1000px) {
  .Info-menu {
    top: 1.5vw;
    right: 1.5vw;
  }
}

.Info-footer {
  margin-top: var(--Form-space-md);
  max-width: 45rem;
  font-size: 0.8em;
}

@media (min-width: 600px) {
  .Info-footer {
    margin-top: auto;
    padding: var(--Form-padding);
    border: var(--Form-border-width) solid rgb(var(--color-red));
  }
}

.Info-sidebar {
  display: flex;
  align-items: flex-end;
  color: #fff;
  background-color: rgb(var(--color-red));
  width: 100%;
}

@media (min-width: 1000px) {
  .Info-sidebar {
    flex: 0 0 35%;
    height: 100%;
    position: relative;
    z-index: 10;
  }
}

.Info-instructions {
  padding: var(--Form-padding);
  margin-bottom: var(--Form-space-sm);
}

.Info-step {
  font-size: 0.8em;
  margin: 0.5rem 0;
  position: relative;
  padding-left: 1.2rem;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .Info-step {
    font-size: 1.75rem;
  }
}

.Info-step::before {
  display: inline-block;
  position: absolute;
  left: 0.4rem;
  top: 0.25rem;
  font-size: 0.8rem;
}

.Info-step:nth-child(1)::before {
  content: "1";
}

.Info-step:nth-child(2)::before {
  content: "2";
}

.Info-step:nth-child(3)::before {
  content: "3";
}

.Info-step a {
  text-decoration: underline;
}
