@import "../../components/base/";

/* @define Thanks */
.Thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Thanks-text {
  width: 600px;
  max-width: 90%;
  padding: 2rem 2rem;
  border: var(--Form-border-width) solid rgb(var(--color-red));
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
  background-color: #fff;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  border-width: 0.5rem;
}

@media (min-width: 1000px) {
  .Thanks-text {
    padding: 5rem 3rem;
    min-height: none;
  }
}

.Thanks-title {
  margin-bottom: 1rem;
  font-size: var(--Form-font-size-title);
}

.Thanks-fineprint {
  display: block;
  margin-top: 1rem;
  font-size: inherit;
}

.Thanks-banners {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
}
