@import "../../components/base";

:root {
  --Form-space-sm: 6vh;
  --Form-space-md: 8vh;
  --Form-space-lg: 13vh;
  --Form-statusbar-height: var(--Form-space-sm);
  --Form-nav-height: var(--Form-space-lg);
  --Form-padding: 0.3rem;
  --Form-font-size-sm: 0.8rem;
  --Form-font-size-md: 3.8vh;
  --Form-font-size-lg: 6.3vh;
  --Form-border-width: 1px;
}

@media (min-width: 1000px) {
  :root {
    --Form-space-sm: 4vh;
    --Form-space-md: 4vh;
    --Form-space-lg: 9vh;
    --Form-padding: 0.3rem;
    --Form-font-size-md: 2.6vh;
  }
}

/* @define Form */

/**
 * General form layout.
 * Handling only dimensions, positioning, margins and scrolling.
 */

.Form {
  width: 100vw;
  height: 100vh;
}

.Form-statusbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: var(--Form-statusbar-height)
}

.Form-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - var(--Form-statusbar-height) - var(--Form-nav-height));
  position: relative;
  top: var(--Form-statusbar-height);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.Form-footer,
.Form-nav {
  width: 100%;
  height: var(--Form-nav-height);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.Form-footer {
  display: none;
}

.Form-tools {
  border-top: 1px solid rgb(var(--color-red))
}

@media (min-width: 1000px) {
  .Form-statusbar,
  .Form-nav,
  .Form-footer {
    width: 50%;
  }

  .Form-footer {
    display: block;
  }

  .Form-nav {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: var(--Form-nav-height);
    height: 100%;
  }

  .Form-main {
    height: 100%;
    top: 0;
    flex-direction: row;
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
  }

  .Form-question {
    width: 50%;
    height: calc(100% - var(--Form-statusbar-height) - var(--Form-nav-height));
    position: relative;
    top: var(--Form-statusbar-height);
  }

  .Form-tools {
    height: 100%;
    width: calc(50% - var(--Form-nav-height));
    margin-right: var(--Form-nav-height);
    border: 0;
  }

  .Form-question,
  .Form-tools {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/* -------------------------------------------------------------------------- */

/**
 * Root styles
 */

.Form {
  font-size: var(--Form-font-size-md);
}

/* -------------------------------------------------------------------------- */

/**
 * Status bar
 */

.Form-statusbar {
  display: flex;
  align-items: center;
  padding: 0 var(--Form-padding);
  border-bottom: var(--Form-border-width) solid;
  text-transform: uppercase;
  background: #fff;
}

.Form-cancel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  padding: 0 var(--Form-padding);
  border-left: var(--Form-border-width) solid;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

@media (min-width: 1000px) {
  .Form-cancel {
    width: auto;
    border: 0;
  }
}

/* -------------------------------------------------------------------------- */

/**
 * Footer
 */

@media (min-width: 1000px) {
  .Form-footer {
    display: flex;
    padding: 0 var(--Form-padding) 0 var(--Form-space-lg);
    height: var(--Form-space-lg);
    border-top: var(--Form-border-width) solid;
    text-transform: uppercase;
    background: #fff;
  }

  .Form-footer:not(:empty)::after {
    content: "";
    width: var(--Form-space-lg);
    height: var(--Form-space-lg);
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("./prev.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: var(--Form-space-md);
  }
}

/* -------------------------------------------------------------------------- */

/**
 * Nav with actions
 */

.Form-nav {
  display: flex;
  border-top: var(--Form-border-width) solid;
  background: #fff;
  text-transform: uppercase;
}

.Form-action {
  flex: 1 1 50%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  font: inherit;
}

.Form-action:focus-visible:not(:disabled):not(.is-disabled) {
  background-color: rgb(var(--color-yellow));
}

.Form-action + .Form-action {
  border-left: var(--Form-border-width) solid;
}

.Form-action--prev {
  background: url("./prev.svg") no-repeat center center;
  background-size: var(--Form-space-md);
}

.Form-action.is-disabled {
  background-image: url("./disabled.svg");
  background-size: 100% 100%;
}

.Form-action.is-disabled + .Form-action.is-disabled {
  background-image: none;
}

:root:not([scripting-enabled]) .Form-action--next,
:root[scripting-enabled] .Form-action--next:not(:disabled) {
  background-image: url("./next.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: var(--Form-space-md);
}

:root:not([scripting-enabled]) .Form-action--submit,
:root[scripting-enabled] .Form-action--submit:not(:disabled) {
  background-color: rgb(var(--color-red));
  color: #fff;
}

.Form-button {
  display: none;
}

.Form--summary .Form-button {
  display: block;
}

@media (min-width: 1000px) {
  .Form-nav {
    border: 0;
    border-left: var(--Form-border-width) solid;
  }

  .Form-action {
    position: relative;
    text-transform: uppercase;
  }

  .Form-action + .Form-action {
    border: 0;
  }

  .Form-action.is-disabled {
    background-image: none;
    color: transparent;
  }

  .Form-button {
    display: block;
    position: absolute;
    right: 0;
    bottom: calc(var(--Form-space-lg) - 1em);
    transform-origin: 0 0;
    transform: translateX(calc(100% - (var(--Form-nav-height) / 2) - 0.5em)) rotate(-90deg);
  }

  .Form-action--submit {
    flex: 1 0 100%;
  }

  .Form-action--prev {
    display: none;
  }

  .Form-action--prev,
  .Form-action--prev.is-disabled,
  :root:not([scripting-enabled]) .Form-action--next,
  :root[scripting-enabled] .Form-action--next:not(:disabled) {
    background: none;
  }

  :root:not([scripting-enabled]) .Form-action--next::after,
  :root[scripting-enabled] .Form-action--next:not(:disabled)::after,
  :root[scripting-enabled] .Form-action--next:not(:disabled)::after,
  :root:not([scripting-enabled]) .Form-action--submit::after,
  :root[scripting-enabled] .Form-action--submit:not(:disabled)::after {
    content: "";
    width: var(--Form-space-lg);
    height: var(--Form-space-lg);
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("./next.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: var(--Form-space-md);
  }

  :root:not([scripting-enabled]) .Form-action--submit::after,
  :root[scripting-enabled] .Form-action--submit:not(:disabled)::after {
    background-image: url("./next-white.svg");
  }
}

/* -------------------------------------------------------------------------- */

/**
 * Main
 */

.Form-main {
  justify-content: space-between;
}

.Form-question {
  padding: var(--Form-padding);
  font-size: var(--Form-font-size-lg);
  padding-bottom: var(--Form-space-lg);
}

@media (min-width: 1000px) {
  .Form-tools {
    border-left: var(--Form-border-width) solid;
  }
}

/* -------------------------------------------------------------------------- */

/**
 * Summary
 */

.Form-summary {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.Form-dl {
  margin: 0;
  width: 100%;
  padding-bottom: var(--Form-space-sm);
  border: solid;
  border-width: var(--Form-border-width) 0;
}

.Form-title {
  padding: 0 var(--Form-padding);
  margin-top: var(--Form-space-sm);
  font-style: italic;
}

.Form-value {
  padding: 0 var(--Form-padding);
  margin: 0;
}

.Form-restart {
  padding: var(--Form-space-sm) var(--Form-padding);
}

.Form-link {
  text-decoration: underline;
}

@media (min-width: 1000px) {
  .Form-dl {
    border-top: 0;
  }
}

/* -------------------------------------------------------------------------- */

/**
 * Error
 */

 .Form-error {
  padding: 1rem;
  margin: 1rem 0.5rem;
  color: #fff;
  font-size: 14px;
  background-color: rgb(var(--color-red));
}