@import "../../components/base/";

/* @define Home */
.Home {
  width: 100%;
  height: 100%;
  font-size: var(--Form-font-size-text);
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 1000px) {
  .Home {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row-reverse;
  }
}

.Home-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 53vh;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1000px) {
  .Home-main {
    padding-top: 0;
  }
}

.Home-main p {
  margin: 0.5em 0;
}

.Home-content {
  padding: 8rem var(--Form-padding) 5rem;
  position: relative;
}

@media (min-width: 600px) {
  .Home-content {
    padding: var(--Form-space-md);
  }
}

@media (min-width: 1000px) {
  .Home-main {
    flex: 1 1 auto;
    justify-content: center;
  }

  .Home-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--Form-space-lg);
  }
}

.Home-nav {
  text-align: center;
}

.Home-apply {
  display: inline-block;
  margin: 1em 0 3em;
  padding: 0.15em 0.1em 0.025em;
  color: #fff;
  background-color: rgb(var(--color-red));
  text-transform: uppercase;
  user-select: none;
  line-height: 0.9;
}

.Home-apply:hover {
  color: #fff;
  background-color: rgb(var(--color-red));
}

.Home-menu {
  position: absolute;
  top: 0.5vh;
  right: -1.5em;
  font-size: 1.25rem;
  text-transform: uppercase;
  word-spacing: 0.5em;
  color: rgb(var(--color-red));
  transform-origin: center;
  animation: Home-menu--spinning 15s infinite linear;
  user-select: none;
}

@media (min-width: 1000px) {
  .Home-menu {
    top: 1.5vw;
    right: 1.5vw;
  }
}

.Home-menu .Home-dot {
  transform-origin: center;
  transition: transform 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  will-change: transform;
}

.Home-menu:hover .Home-dot {
  transform: scale(8);
}

@keyframes Home-menu--spinning {
  to {
    transform: rotate(1turn);
  }
}

.Home-footer {
  display: flex;
  width: 100%;
  border-top: var(--Form-border-width) solid rgb(var(--color-red));
  position: absolute;
  left: 0;
  bottom: 0;
  height: var(--Form-space-sm);
  background: #fff;
  align-items: center;
}

.Home-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

@media (min-width: 1000px) {
  .Home-sidebar {
    flex: 0 0 35%;
    position: relative;
    z-index: 10;
  }
}
