@import "../../components/base/";

/* @define Home */
.Home {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
  font-size: 1.5rem;
}

@media (min-width: 1000px) {
  .Home {
    flex-wrap: nowrap;
    font-size: 2.5rem;
  }
}

.Home-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.Home-main p {
  margin: 0.5em 0;
}

.Home-content {
  padding: 10rem var(--Form-padding) 5rem;
}

@media (min-width: 600px) {
  .Home-content {
    padding: var(--Form-space-md);
  }
}

@media (min-width: 1000px) {
  .Home-main {
    flex: 1 1 auto;
  }

  .Home-content {
    padding: var(--Form-space-lg);
  }
}

.Home-apply {
  display: flex;
  padding-right: 0.5em;
  margin-top: 1em;
  align-items: center;
  text-transform: uppercase;
  user-select: none;
}

.Home-apply::before {
  content: "";
  order: -1;
  flex: 1 0 auto;
  height: 2px;
  background-color: rgb(var(--color-red));
}

.Home-apply::after {
  content: "";
  order: -1;
  display: block;
  width: 8px;
  height: 13px;
  margin-right: 0.5em;
  position: relative;
  left: -1px;
  background: url("./arrow.svg") 0 0 no-repeat;
  background-size: 100% auto;
}

.Home-menu {
  position: fixed;
  top: 0.5vh;
  right: -1.5em;
  font-size: var(--Form-font-size-interface);
  text-transform: uppercase;
  word-spacing: 0.2em;
  color: rgb(var(--color-red));
  transform-origin: center;
  animation: Home-menu--spinning 15s infinite linear;
  user-select: none;
}

@media (min-width: 1000px) {
  .Home-menu {
    top: 1.5vw;
    right: 37%;
  }
}

.Home-menu .Home-dot {
  transform-origin: center;
  transition: transform 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  will-change: transform;
}

.Home-menu:hover .Home-dot {
  transform: scale(8);
}

@keyframes Home-menu--spinning {
  to {
    transform: rotate(1turn);
  }
}

.Home-footer {
  display: flex;
  width: 100%;
  border-top: 2px solid rgb(var(--color-red));
  position: fixed;
  left: 0;
  bottom: 0;
  height: var(--Form-space-sm);
  background: #fff;
  align-items: center;
}

.Home-sidebar {
  height: 100%;
  background-color: rgb(var(--color-red));
}

@media (min-width: 1000px) {
  .Home-sidebar {
    flex: 0 0 35%;
    position: relative;
    z-index: 10;
  }
}
