@import "../base";

/* @define Intro */
.Intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.Intro-1,
.Intro-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* -------------------------------------------------------------------------- */

/**
 * Screen 1
 */

.Intro-1 {
  background: rgb(var(--color-blue));
  z-index: 1;
  animation: scale 200ms 2050ms var(--ease) forwards, hide 300ms 3000ms var(--ease-in) forwards;
}

.Intro-container {
  position: absolute;
  top: var(--Form-padding);
  right: var(--Form-padding);
  bottom: var(--Form-padding);
  left: var(--Form-padding);
  animation: scale-container 200ms 2000ms var(--ease) forwards;
}

@keyframes scale {
  0% { transform: scale(1) }
  100% { transform: scale(0.7) }
}

@keyframes scale-container {
  0% { transform: scale(1) }
  100% { transform: scale(0.9) }
}

@keyframes hide {
  0% { transform: translateX(0%) scale(0.7) }
  100% { transform: translateX(-150%) scale(0.7) }
}

.Intro-line,
.Intro-box {
  width: 100%;
  height: 1.5%;
  position: absolute;
  background: #fff;
}

.Intro-line {
  transform: scaleX(0);
  transform-origin: top left;
  animation: line 400ms 200ms var(--ease-out) forwards;
}

@keyframes line {
  0% {
    transform: scaleX(0)
  }
  100% {
    transform: scaleX(1)
  }
}

.Intro-line:nth-child(1) { width: 100%; }
.Intro-line:nth-child(2) { top: 23%; width: 30%; left: 4%; }
.Intro-line:nth-child(3) { top: 45%; width: 21%; }
.Intro-line:nth-child(4) { top: 45%; left: 50%; width: 50%; }
.Intro-line:nth-child(5) { bottom: 46%; width: 42%; }
.Intro-line:nth-child(6) { bottom: 25%; width: 46%; left: 4%; }
.Intro-line:nth-child(7) { bottom: 0%; width: 21%; }
.Intro-line:nth-child(8) { bottom: 46%; left: 50%; width: 50%; }
.Intro-line:nth-child(9) { bottom: 0%; left: 41%; width: 30%; }

.Intro-box {
  height: 23%;
  transform: scaleX(0);
  transform-origin: top left;
  animation: box 400ms 600ms var(--ease-out) forwards;
}

@keyframes box {
  0% { transform: scaleY(0) }
  100% { transform: scaleY(1) }
}

.Intro-box:nth-child(1) { width: 9%; left: 4%; }
.Intro-box:nth-child(2) { width: 17%; left: 4%; top: 23%; }
.Intro-box:nth-child(3) { left: 33%; width: 17%; height: 10%; }
.Intro-box:nth-child(4) { left: 54%; width: 17%; height: 46%; }
.Intro-box:nth-child(5) { left: 87%; width: 9%; height: 45%; }
.Intro-box:nth-child(6) { bottom: 26%; width: 9%; height: 21%; left: 4%; }
.Intro-box:nth-child(7) { bottom: 0; width: 17%; height: 26%; left: 4%; }
.Intro-box:nth-child(8) { bottom: 26%; width: 17%; left: 25%; height: 21%; }
.Intro-box:nth-child(9) { bottom: 0; left: 41%; width: 9%; height: 26%; }
.Intro-box:nth-child(10) { bottom: 0; width: 17%; left: 54%; height: 47%; }
.Intro-box:nth-child(11) { bottom: 20%; width: 9%; left: 77%; height: 27%; }
.Intro-box:nth-child(12) { bottom: 0; width: 9%; left: 91%; height: 47%; }

/* -------------------------------------------------------------------------- */

/**
 * Screen 2
 */

.Intro-2 {
  background: rgb(var(--color-red));
}

.Intro-word {
  color: yellow;
  font-size: 10vh;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  position: absolute;
  top: 0;
  right: 0.1em;
  line-height: 1;
}

.Intro-word + .Intro-word {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0.1em;
}