@import "../base";

:root {
  --Intro-size: 1;
}

/* @define Intro */
.Intro {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.Intro-1,
.Intro-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* -------------------------------------------------------------------------- */

/**
 * Screen 1
 */

.Intro-1 {
  z-index: 2;
  padding: 0.3rem;
  animation: Intro-1--shrinking 600ms 500ms forwards var(--ease-out);
  will-change: transform;
  transform-origin: top;
  background: rgb(var(--color-blue));
}

.Intro-figure {
  width: 100%;
  height: 100%;
  padding: 1rem 0.3rem;
}

@keyframes Intro-1--shrinking {
  to {
    transform: scaleY(0.35);
  }
}

/* -------------------------------------------------------------------------- */

/**
 * Screen 2
 */

.Intro-2 {
  top: 35%;
  width: 100%;
  height: 65%;
  background: rgb(var(--color-red));
  animation: Intro-2--shrinking 400ms 4100ms forwards var(--ease);
}

@keyframes Intro-2--shrinking {
  to {
    height: 29vw;
  }
}

@media (min-width: 1000px) {
  .Intro-2 {
    animation: none;
  }
}

.Intro-words {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  padding: var(--Form-padding);
  font-weight: normal;
}

.Intro-word {
  color: rgb(var(--color-yellow));
  text-transform: uppercase;
  letter-spacing: -0.02em;
  line-height: 0.9;
  font-size: 16.25vw;
  font-family: 'NimbusSanExt-Reg', var(--document-font-family);
}

/* @media (min-width: 400px) {
  .Intro-word {
    font-size: 9vw;
  }
} */
/* 
@media (min-width: 600px) {
  .Intro-word {
    font-size: 5.3vh;
  }
} */

@media (min-width: 1000px) {
  .Intro-word {
    font-size: 5.6vw;
  }
}

@media (min-width: 1600px) {
  .Intro-word {
    font-size: 7.5vh;
  }
}

.Intro-word:nth-child(2) {
  margin-top: auto;
  align-self: flex-start;
}

.Intro-word--year {
  border: 1.1vw solid currentColor;
  border-radius: 100%;
  padding: 0.4em 0.5em;
  position: absolute;
  top: var(--Form-padding);
  left: var(--Form-padding);
  font-style: italic;
  font-size: 5.3vw;
  font-weight: bold;
  margin-top: 0.2em;
}

@media (min-width: 1000px) {
  .Intro-word--year {
    border: 0.4vw solid currentColor;
    border-radius: 100%;
    padding: 0.4em 0.5em;
    position: absolute;
    top: var(--Form-padding);
    left: var(--Form-padding);
    font-style: italic;
    font-size: 2.2vw;
    font-weight: bold;
    margin-top: 0;
  }
}

.Intro-logo {
  width: 94%;
  height: auto;
  max-height: 58%;
  position: absolute;
  left: 50%;
  top: 50%;
  top: calc(50% - 2px);
  overflow: visible;
  transform: translate(-50%, -50%);
  animation: Intro-logo--hidden 0ms 4000ms forwards linear;
}

@media (min-width: 1000px) {
  .Intro-logo {
    animation: none;
  }
}

@keyframes Intro-logo--hidden {
  to {
    opacity: 0;
  }
}

.Intro-slice {
  animation:
    Intro-slice--appear 600ms 1500ms forwards var(--ease),
    Intro-slice--disappear 600ms 3000ms forwards var(--ease);
}

@media (min-width: 1000px) {
  .Intro-slice {
    animation: Intro-slice--appear 600ms 1500ms forwards var(--ease);
  }
}

@keyframes Intro-slice--appear {
  to {
    transform: translateX(0vw);
  }
}

@keyframes Intro-slice--disappear {
  from {
    transform: translateX(0vw);
  }

  to {
    transform: translateX(calc(var(--Intro-slice-origin) * -1));
  }
}

.Intro-slice:nth-child(odd) { --Intro-slice-origin: -120vw; }
.Intro-slice:nth-child(even) { --Intro-slice-origin: 120vw; }

.Intro-slice { transform: translateX(var(--Intro-slice-origin)); }
.Intro-slice:nth-child(1) { animation-delay: 1500ms, 3000ms; }
.Intro-slice:nth-child(2) { animation-delay: 1700ms, 3200ms; }
.Intro-slice:nth-child(3) { animation-delay: 1900ms, 3400ms; }
.Intro-slice:nth-child(4) { animation-delay: 2100ms, 3600ms; }
.Intro-slice:nth-child(5) { animation-delay: 2300ms, 3800ms; }

@media (min-width: 1000px) {
  .Intro-slice {
    animation: Intro-slice--appear 600ms 1500ms forwards var(--ease);
  }
  .Intro-slice:nth-child(1) { animation-delay: 1500ms; }
  .Intro-slice:nth-child(2) { animation-delay: 1700ms; }
  .Intro-slice:nth-child(3) { animation-delay: 1900ms; }
  .Intro-slice:nth-child(4) { animation-delay: 2100ms; }
  .Intro-slice:nth-child(5) { animation-delay: 2300ms; }
}
