@import "../base";

/* @define Countdown */
.Countdown {
  padding: 0.1rem 0;
  position: relative;
  font-size: var(--Form-font-size-md);
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.Countdown-counter {
  animation: Countdown-counter--rolling 10s forwards linear;
}

@keyframes Countdown-counter--rolling {
  to {
    transform: translateX(-100%);
  }
}

.Countdown-counter {
  display: inline-flex;
  align-items: center;
}

.Countdown-clock {
  flex: 0 0 auto;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 2px solid rgb(var(--color-red));
  margin: 0 1rem;
  position: relative;
  border-radius: 1rem;
}

.Countdown-hand {
  height: 2px;
  position: absolute;
  left: 50%;
  top: calc(50% - 1px);
  background-color: rgb(var(--color-red));
  transform-origin: 0 50%;
}

.Countdown-hand--minute {
  width: 42%;
  transform: rotate(calc((360deg * (var(--Countdown-minutes) / 60)) - 90deg));
}

.Countdown-hand--hour {
  width: 27%;
  transform: rotate(calc((360deg * (var(--Countdown-hours) / 12)) - 90deg));
}
